:root {
    --color-white: #ffffff;
    --color-darktone: #302900;
    --color-yellow: #F2CE00;
    --color-mustard: #CFB000;  
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: linear-gradient(
      115deg,
      #485563,
      #29323c);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  }

body {
  color: #fff;
}


form {
    padding: 2.5rem 0.625rem;
    border-radius: 0.25rem;
  }

.form-check-input {
    display: inline-block;
}

header {
    width: 100%;
    margin: 0px;
    text-align: center;
    padding-top: 5%;
    
}